base58==2.1.0
jupyter-client==6.1.12
jupyter-core==4.7.1
jupyterlab-pygments==0.1.2
jupyterlab-widgets==1.0.0
pandas==1.2.4
plotly==4.14.3
pystan==2.19.1.1
streamlit==0.82.0
style==1.1.0
yfinance==0.1.59
prophet==0.1.1
conda==0.0.1